$font-regular: "LatoRegular";
$font-bold: "LatoBold";
$font-title: "Helvetica";
$red: #a03000;
$blue: #0064a8;
$red-transparent: rgba(160, 48, 0, .3);
$blue-transparent: rgba(0, 100, 168, .2);
$grey-light: rgba(0, 0, 0, .1);
$grey-lighter: rgba(0, 0, 0, .2);
$grey-normal: rgba(0, 0, 0, .3);
$grey-dark: rgba(0, 0, 0, .6);
$white-transparent-1: hsla(0, 0%, 100%, .5);
$white-transparent-2: hsla(0, 0%, 100%, .9);
$white: #fff;
$black: #000;