.header {
	padding: 40px 0 110px;
	display: flex;
	flex-wrap: wrap;
	@include r(1000) {
		padding: 35px 0 55px;
	}
	@include r(640) {
		padding: 30px 0;
	}
	&__col {
		padding-right: 25px;
		width: 50%;
		@include r(1160) {
			width: 85%;
		}
		@include r(640) {
			width: 100%;
		}
		&:first-child {
			margin-bottom: 20px;
		}
		&--25 {
			width: 25%;
			@include r(1160) {
				width: 50%;
			}
			@include r(640) {
				width: 100%;
			}
		}
	}
	&__nav {
		margin-top: -1px;
		padding-left: 70px;
		font-size: 1rem;
		@include r(1000) {
			padding-left: 65px;
		}
		@include r(640) {
			padding-left: 0;
		}
	}
	&__link {
		color: $blue;
		margin-right: .6rem;
		border-bottom: 1px solid $blue-transparent;
		&:hover {
			color: var($red);
			border-bottom-color: var($red-transparent);
		}
	}
}

