.notebook {
	position: relative;
	padding: 80px 0 40px;
	@include r(1000) {
		padding-top: 35px;
	}
	@include r(720) {
		padding-bottom: 20px;
	}
	@include r(640) {
		padding-bottom: 0px;
	}
	&__title {
		margin-bottom: 0;
		font-family: $font-bold;
	}
	&__grid {
		display: flex;
		flex-wrap: wrap;
	}
	&__col {
		padding: 16px;
		width: 25%;
		@include r(1160) {
			width: 33.33%;
			&:nth-child(3) {
				display: none;
			}
		}
		@include r(720) {
			width: 50%;
			margin-bottom: .6rem;
			&:nth-child(2n) {
				padding-right: 0;
			}
			&:nth-child(3) {
				padding-right: 25px;
				display: block;
				padding-left: 0px;
			}
			&:nth-child(4) {
				display: block;
			}
		}
		@include r(640) {
			width: 100%;
			padding: 0;
			display: none;
			&:nth-child(1) {
				display: block;
			}
			&:nth-child(4) {
				display: none;
			}
			&:nth-child(3) {
				display: none;
			}
		}
		&:first-child {
			padding-left: 0;
		}
		&--gray {
			background: #F5F5EA;
			@include r(640) {
				background: none;
			}
		}
	}
	&__link {
		text-decoration: none;
		&:after {
			margin-bottom: .4rem;
			content: "";
			display: block;
		}
	}
}