* {
	box-sizing: border-box;
	margin: 0;
	padding: 0
}

.body {
	font-size: 14px;
	min-width: 320px;
	position: relative;
	line-height: 1.75;
	@include r(1000) {
		font-size: 14px;
	}
}

html {
	line-height: 1.4em;
	font-size: 18px;
	color: $black;
	background: #fff;
	min-width: 320px
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

h1 {
	font-size: 3rem;
	line-height: 1.2em;
	margin-bottom: 2rem;
}

h2 {
	font-size: 2.45rem;
	line-height: 2.8rem;
	@include r(720) {
		font-size: 2.3rem;
		line-height: 2.7rem
	}
}

h1,
h2 {
	margin-bottom: .6rem
}

h3 {
	font-size: 1.3em;
}

blockquote {
	margin: 0;
	padding: .3rem 1rem;
	display: block
}

pre {
	border: 1px dashed $grey-light;
	border-left: 2px solid $grey-light;
	padding: .6rem 1rem;
	overflow: scroll
}

code,
pre {
	font-size: .9rem
}

del {
	position: relative;
	color: $grey-normal
}

ins {
	text-decoration: none
}

blockquote,
ol,
p,
pre,
ul {
	margin-bottom: .6rem
}

ol+h2,
p+h2,
pre+h2,
ul+h2 {
	margin-top: 1.6rem
}

p+ul {
	margin-top: -.3rem
}

pre+p {
	margin-top: 1.65rem
}

ul+p {
	margin-top: .6rem
}

figcaption {
	font-style: italic
}

a {
	text-decoration: none;
	border-bottom: 1px solid $blue-transparent;
	transition: color .2s, border-color .2s
}

a,
a:visited {
	color: $blue
}

a:visited {
	border-bottom-color: $blue-transparent
}

a.is-active {
	color: $black;
	border-color: $grey-light
}

a.is-active:hover,
a:hover {
	color: $red;
	border-bottom-color: $red-transparent;
	transition: 0
}

a.has-black-color {
	color: $grey-dark;
	border-bottom-color: $grey-light
}

a.has-black-color:hover {
	color: $black;
	border-bottom-color: $grey-normal
}

a.has-undecor-symbol {
	border: 0
}

a.has-undecor-symbol>span {
	border-bottom: 1px solid $blue-transparent
}

a.has-undecor-symbol:hover>span {
	border-bottom-color: $red-transparent
}

a.has-undecor-symbol .typograf-oa-n-lquote {
	margin-left: 0
}

a.black,
a.black:visited,
h1 a,
h1 a:visited,
h2 a,
h2 a:visited {
	color: $black;
	border-bottom-color: $grey-light
}

a.black:hover,
h1 a:hover,
h2 a:hover {
	color: $red;
	border-bottom-color: $red-transparent
}

a .logo {
	color: $black
}

a .logo:hover {
	color: $red
}

.icon-svg {
	display: inline-block;
	height: 1em;
	width: 1em;
	fill: inherit;
	stroke: inherit;
}


