.page {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: space-between;
	max-width: 1900px;
	margin: auto;
	width: 100%;
	padding: 0 30px;
	@include r(720) {
		padding: 0 20px;
	}
}

// .grid {
// 	display: flex;
// 	flex-wrap: wrap;
// 	&__col {
// 		&--50 {
// 			width: 50%;
// 			@include r(860) {
// 				width: 100%;
// 			}
// 		}
// 		&--25 {
// 			width: 25%;
// 		}
// 	}
// }

